.menu {
  flex:0 1 15%;
  background-color: #bbbbcc;
  border-right: 2px solid black;
}

.list {
  list-style: none;
  margin: 20px 0 0 20px;
}

.item{
  margin: 10px 20px 0 0;
  text-decoration: none;
}

.link{
  text-decoration: none;
  color: #444455;
}

.link:visited{
  color: #7575c3;
}

.link:hover{
  color: #0909f5;
}

