.body {
  margin: 30px;
  width: 100%;
}

.users__card {
  display: flex;
  align-items: stretch;
  margin: 0 0 20px 0;
}

.users__ava {
  margin: 0 20px 0 0;
}

.ava img {
  width: 80px;
  height: 80px;
  margin: 0 0 10px 0;
  border-radius: 50%;
}

.users_subscribe button {
  width: 80px;
  height: 30px;
  border-radius: 3px;
}

.unsubscribed {
  background-color: #aa3333;
}

.subscribed {
  background-color: #33aa33;
}

.users__desc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 2px solid #000000;
  border-radius: 15px;
}

.users__name {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  height: 100%;
  justify-content: space-around;
}

.users__location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
