.bodyBlock {
  margin: 0 auto;
  width: 80%;
  background-color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
  font-size: 24px;
  font-stretch: ;
}

.headerBlock{
  height: 70px;
  text-align: center;
  border-bottom: 1px solid white;
  
}

.mainBlock {
  display: flex;
}

.nav__menu {
  flex:0 1 15%;
  background-color: #bbbbcc;
}

.content {
flex: 1 1 auto;
}
