.bodyBlock {
  margin: 0 auto;
  width: 80%;
  background-color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
  font-size: 24px;
  font-stretch: ;
}

.headerBlock{
  display: flex;
  height: 70px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.header__logo {
  height: 100%;
}




